# Виртуальное окружение
.venv/
venv/

# Временные / кэш файлы
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# IDE
.vscode/
.idea/

# Сборка PyInstaller (внутренние файлы)
build/
*.spec

# Дистрибутивы / бинарники
dist/

# Прочие временные
*.tmp
*.bak

